header{
    font-family: Arial, Helvetica, sans-serif;
}
header h1{
    margin: 5% 5% 0.5% 15%;
    font-size: 3rem;
}

header div{
    margin: 0 0 5% 15%;
}
#timer{
    position: fixed;
    text-align: right;
    font-size: 3rem;
    padding-left: 70%;
}

section{
    clear: both;
    margin-bottom: 8%;
    border: 2px solid blue;
    margin-left: 15%;
    padding: 2% 2% 2% 2%;
    margin-right: 5%;
    border-radius: 15px;
    line-height: 150%;
    font-family: Arial, Helvetica, sans-serif;
}

#submit{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    width: 15%;
    text-align: center;
    height: 50px;
    font-size: 1.3rem;
    margin-left: 80%;
    padding: 3.5% 2% 1% 2%;
    background-color: black;
}

section span, section span a{
    color: rgb(121, 117, 117);
    text-decoration: none;
}
section div{
    display: inline-block;
    width: 65%;
    font-size: 2.5rem;
    line-height: 110%;
    margin-bottom: 3%;
}

.lonea, .loneb{
    line-height: 110%;
    display: block;
    font-size: 3rem;
    margin-bottom: 5%;
}

#results{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=radio]{
    transform: scale(2.5);
    margin-right: 2.5%;
}

@media screen and (min-device-width: 700px){
    section div{
        font-size: 1.3rem;
        width: 80%;
    }
    .lonea, .loneb{
        display: inline-block;
        width: 40%;
        font-size: 1.3rem;
    }
    input[type=radio]{

    }

    
}
